.detail-card {
  width: 70vw;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid lightgrey;
  margin: 1rem auto;
  background: #ededed;
  padding: 1rem;
}

.detail-content {
  letter-spacing: 0.2rem;
  margin: 0.5rem;
}

.subtitle {
  color: grey;
  border-bottom: 1px solid lightgrey;
  font-size: 1.2rem;
}

.bg {
  background: white;
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  font-size: 1.5rem;
  color: #d5d5d5;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 3px;
}

.detail {
  letter-spacing: 2px;
  padding: 0.3rem;
}

.date {
  color: darkgrey;
  letter-spacing: 2px;
}

.fa-feather {
  opacity: 0.6;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.btn button {
  margin: 1.5rem auto;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  letter-spacing: 3px;
  border: 2px solid #d5d5d5;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
