.login-signup {
  width: 80vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 1rem auto;
  grid-gap: 1.5rem;
  background: #ededed;
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.main-title {
  font-size: 2rem;
  color: grey;
  letter-spacing: 0.1rem;
  margin: 1.5rem auto;
  text-align: center;
}

.form {
  width: 100%;
}

.form input {
  display: grid;
  width: 50vw;
  margin: 1rem auto;
  border-top-left-radius: 8px;
  padding: 0.6rem;
  outline: 0;
}

.form input::placeholder {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 3px;
}

.button {
  display: grid;
  margin: 1.5rem auto;
}

.button button {
  justify-self: center;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
